DataStorageService/.idea

DataStorageService/DataStorageService.Api/obj
DataStorageService/DataStorageService.Api/bin
DataStorageService/DataStorageService.Api/Uploads

DataStorageService/DataStorageService.Services/obj
DataStorageService/DataStorageService.Services/bin